<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_III_SnapShot_1633537891931"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.56.1"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="39"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="lastInsertT, clock, open, len, hist, token, insertHappened, unlockTriggerT, lastUnlockT, locked"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1TypeCheck"/>
        <listEntry value="1InsertLeadsToUnlocked"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="0InsertHappenedPersists"/>
        <listEntry value="0UnlockPre"/>
        <listEntry value="0InsertHappenedSet"/>
        <listEntry value="0UnlockTSetProp"/>
        <listEntry value="0UnlockTriggerTSetProp"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="10"/>
    <stringAttribute key="modelExpressionEval" value="{&quot;A&quot;} \cup {&quot;B&quot;}"/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="K;;3;0;0"/>
        <listEntry value="MAX_TIME;;9;0;0"/>
        <listEntry value="WAIT;;WAIT;1;0"/>
        <listEntry value="INSERT_ACTION;;INSERT_ACTION;1;0"/>
        <listEntry value="LOCK_ACTION;;LOCK_ACTION;1;0"/>
        <listEntry value="UNLOCK_ACTION;;UNLOCK_ACTION;1;0"/>
        <listEntry value="REMOVE_ACTION;;REMOVE_ACTION;1;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value="clock &lt;= MAX_TIME"/>
    <listAttribute key="modelParameterDefinitions"/>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="Tokeneer"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
    <listAttribute key="traceExploreExpressions">
        <listEntry value="0locked /\ token /\ clock &lt;= lastInsertT + K"/>
        <listEntry value="1locked'=FALSE /\  unlockAction'=TRUE /\ insertAction' = FALSE /\ lastUnlockT' = clock /\ UNCHANGED &lt;&lt;token, open, lastInsertT, unlockTriggerT&gt;&gt;"/>
    </listAttribute>
</launchConfiguration>
